<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <a href="" class="logo"> <i id="ico" class="fa fa-shopping-basket"></i>SPT Super Market</a>
      
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="" routerLinkActive="active-link" title="Home"
            [routerLinkActiveOptions]="{exact:true}"> <i class="fa fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="menu" routerLinkActive="active-link" title="Menu"><i
              class="fa fa-shopping-bag"></i> Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="produts" routerLinkActive="active-link" title="Products"><i
              class="fa fa-star"></i> Produts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="blogs" routerLinkActive="active-link" title="Blogs"><i
              class="fa fa-book"></i> Blogs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="contact" routerLinkActive="active-link" title="Contact"><i
              class="fa fa-phone"></i> User Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="about" routerLinkActive="active-link" title="About"><i
              class="fa fa-user"></i> About Us</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" routerLink="LogIn" routerLinkActive="active-link" title="login"><i
              class="fa fa-book"></i> login</a>
        </li> -->








        <!-- <li class="nav-item">
                <a class="nav-link active"  routerLink="service"  href="#">service</a>
              </li> -->

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" title="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>