<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="menu">Order</a></li>
                    <li><a routerLink="about">About</a></li>
                    <li><a routerLink="Products">Products</a></li>
                    <li><a routerLink="blogs">Blogs</a></li>
                    <li><a routerLink="contact">User Contact</a></li>
                    <!-- <li><a routerLink="LogIn">Login</a></li> -->
                               </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Order status</a></li>
                    <li><a href="#">Payment OPtions</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Online Shop</h4>
                <ul>
                    <li><a href="#">Watch</a></li> 
                    <li><a href="#">Bags</a></li> 
                    <li><a href="#">Shoes</a></li> 
                    <li><a href="#">Dress</a></li> 
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow us</h4>
        <div class="social-links">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="https://web.whatsapp.com/"><i class="bi bi-whatsapp"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a> 
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
                   
            </div>
        </div>
    </div>

</footer>
