<div class="container mt-5 mb-5">
   
    <h1 class="text-center">About Us</h1>
    <h2 id="head" class="text-center">Welcome To Our Shop</h2>
    <h2 id="h" class="text-center">Fresh And Organic Groceries</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, qui! Libero reiciendis laborum culpa a?
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit asperiores mollitia doloremque numquam delectus.
   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et aspernatur cumque rerum magni commodi cum excepturi doloremque saepe eius nesciunt.
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repudiandae accusantium eos quam pariatur dolores error.
   <br/>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis, iusto velit neque eius provident?
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores veniam repudiandae tenetur numquam accusamus culpa mollitia reprehenderit laborum vero magni!
   <br/>
   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora consequuntur repellat porro ipsum at rerum quam nihil maiores repudiandae nobis!
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, earum eveniet! Assumenda laboriosam cumque sit culpa cupiditate, consequatur dolorum velit.
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nobis eius provident placeat unde voluptate, corrupti error obcaecati?
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores adipisci doloremque maxime animi reprehenderit nemo id asperiores eligendi voluptate! Libero.
<br/>    
</p>
<button class="btn btn-md btn-dark  btn-center mt-3 " >Read More</button>
<div class="container mt-4 mb-4">
    <h1>Our Gallery</h1>
    <div class="foodbox">
    <div class="row">
        <div class="col-lg-4 mt-3 " *ngFor="let fd of foodData">
            
        <img src="{{fd.abou}}">
        <h3>{{fd.foodName}}</h3>
    </div>
</div>
</div>

</div>